$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';

@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/variables";
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/progress-bars';
@import '_constant.scss';

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background: {
    color: $bg-color;
  };
  color: #434343;
  font: {
    size: 12px;
    family: Arial;
  }
}

// update progress bar
.progress {
  height: 5px;
  background: {
    color: transparent;
  }
  box-shadow: none;
  border-radius: 0px;
  .progress-bar {
    box-shadow: none;
    background: {
      size: 8px 8px;
    }
  }
}

// Component styles are injected through grunt
// injector
@import '_constant.scss';
@import 'task/list.scss';
@import '../components/flex.scss';
@import '../components/status-component/status-component.scss';
// endinjector
