@import '../constant';
$task-list-border-color: #808080;

@mixin item-status($color) {
  border-left-color: $color;
  &.open {
    border-left-color: $task-list-border-color;
    border-top: solid 4px $color;
  }
  .status {
    color: $color;
  }
}

.white-element{
  background: white;
}

.task-list {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  padding: 1px;

  border: solid 2px $task-list-border-color;
  .item {
    td, th {
      padding: 10px;
    }

    border: {
      top: solid 1px $task-list-border-color;
      left: solid 4px $color-default;
      bottom: none;
    }
    &:first-child {
      border-top: none;
    }

    &.open .status {
      background-color: $bg-color;
    }

    &.running {
      @include item-status($color-progress);
    }

    &.passed {
      @include item-status($color-success);
    }

    &.failed {
      @include item-status($color-warning);
    }

    &.pending {
      @include item-status($color-pending);
    }
  }

}
